<p>autocomplete works!</p>
<mat-form-field class="Autocomplete">

  <mat-label>Search</mat-label>
  <input type="text"
          placeholder="Pick one"
          aria-label="Search"
          matInput
          [formControl]="searchControl"
          [matAutocomplete]="auto"
  >

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngIf="$isLoading | async">
      <div class="Autocomplete__spinnerBox">
        <mat-spinner strokeWidth="2" diameter="40"></mat-spinner>
      </div>
    </mat-option>
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="selectItem(option)">
      {{option}}
    </mat-option>
  </mat-autocomplete>

</mat-form-field>